In [5]:
ls

seattle-crime-stats-by-1990-census-tract-1996-2007.csv*
seattle-crime-stats-by-police-precinct-2008-present.csv*
socrata_metadata_seattle-crime-stats-by-1990-census-tract-1996-2007.json*
socrata_metadata_seattle-crime-stats-by-police-precinct-2008-present.json*

In [54]:
from scipy import stats
import math
import csv
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [8]:
df_1 = pd.read_csv('seattle-crime-stats-by-1990-census-tract-1996-2007.csv')
df_1.head()

   Report_Year  Census_Tract_1990               Crime_Type  Report_Year_Total
0         1996                1.0       Aggravated Assault                 11
1         1996                1.0                 Homicide                  0
2         1996                1.0  NonResidential Burglary                 41
3         1996                1.0    Property Crimes Total                430
4         1996                1.0                     Rape                  2

In [10]:
df_1 = df_1.drop(columns=['Census_Tract_1990'])
df_1.head()

   Report_Year               Crime_Type  Report_Year_Total
0         1996       Aggravated Assault                 11
1         1996                 Homicide                  0
2         1996  NonResidential Burglary                 41
3         1996    Property Crimes Total                430
4         1996                     Rape                  2

In [50]:
df_2 = pd.read_csv('seattle-crime-stats-by-police-precinct-2008-present.csv')
df_2.head()

,Police Beat,CRIME_TYPE,CRIME_DESCRIPTION,STAT_VALUE,REPORT_DATE,Sector,Precinct,Row_Value_ID
0,R2,Rape,Rape,1,2014-04-30T00:00:00.000,R,SE,27092
1,K2,Assault,Assault,5,2014-04-30T00:00:00.000,K,W,26506
2,M2,Homicide,Homicide,1,2014-04-30T00:00:00.000,M,W,27567
3,C3,Robbery,Robbery,2,2014-04-30T00:00:00.000,C,E,26225
4,E2,Motor Vehicle Theft,"Vehicle Theft is theft of a car, truck, motorc...",7,2014-04-30T00:00:00.000,E,E,26368

In [51]:
df_2 = df_2.drop(columns=['Police Beat', 'CRIME_DESCRIPTION', 'STAT_VALUE', 'Sector', 'Precinct', 'Row_Value_ID'])
df_2.head()

            CRIME_TYPE              REPORT_DATE
0                 Rape  2014-04-30T00:00:00.000
1              Assault  2014-04-30T00:00:00.000
2             Homicide  2014-04-30T00:00:00.000
3              Robbery  2014-04-30T00:00:00.000
4  Motor Vehicle Theft  2014-04-30T00:00:00.000

In [48]:
df_2['CRIME_TYPE'].dtype

dtype('O')

In [46]:
df_2['REPORT_DATE'].dtype

dtype('O')

In [86]:
#https://stackoverflow.com/questions/33957720/how-to-convert-column-with-dtype-as-object-to-string-in-pandas-dataframe
df_2['CRIME_TYPE'] = df_2['CRIME_TYPE'].astype('str')
df_2['REPORT_DATE'] = df_2['REPORT_DATE'].astype('str')
df_2.head()

            CRIME_TYPE              REPORT_DATE
0                 Rape  2014-04-30T00:00:00.000
1              Assault  2014-04-30T00:00:00.000
2             Homicide  2014-04-30T00:00:00.000
3              Robbery  2014-04-30T00:00:00.000
4  Motor Vehicle Theft  2014-04-30T00:00:00.000

In [56]:
df_08 = pd.DataFrame
df_08

pandas.core.frame.DataFrame

In [90]:
df_2.loc[1:1, ['REPORT_DATE']].values[0]

array(['2014-04-30T00:00:00.000'], dtype=object)

In [89]:
df_2.loc[1:1, ['REPORT_DATE']].values[0][0]

'2014-04-30T00:00:00.000'

In [75]:
df_2.loc[1:1]

  CRIME_TYPE              REPORT_DATE
1    Assault  2014-04-30T00:00:00.000

In [78]:
df_2.shape

(27125, 2)

In [ ]:
def helper(year):
    line = 1
    target = 

for line in df_2:
    target = df_2[line, []]
    if df_2[line, ['REPORT_DATE']]

In [39]:
df_2['CRIME_TYPE'].unique()

array(['Rape', 'Assault', 'Homicide', 'Robbery', 'Motor Vehicle Theft',
       'Burglary', 'Larceny-Theft'], dtype=object)